* text=auto !eol
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/README -text
/apertium-pl-sk.pl-sk.dix -text
/apertium-pl-sk.pl.dix -text
/apertium-pl-sk.pl.tsx -text
/apertium-pl-sk.post-pl.dix -text
/apertium-pl-sk.post-sk.dix -text
/apertium-pl-sk.sk.dix -text
/apertium-pl-sk.sk.tsx -text
/configure.ac -text
/incubator.gnumeric -text
