* text=auto !eol
/apertium-pl-sk.pl-sk.dix -text
/apertium-pl-sk.pl.dix -text
/apertium-pl-sk.pl.tsx -text
/apertium-pl-sk.post-sk.dix -text
/apertium-pl-sk.sk.dix -text
/apertium-pl-sk.sk.tsx -text
/incubator.gnumeric -text
